In [7]:
import pymongo
#connection to mongodb
client = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = client['emp']
info=mydb.empinformation

In [8]:
record={
    'name':'tarun',
    'dept':'AI',
    'degree':'cse',
    'age': 22
}
info.insert_one(record)

InsertOneResult(ObjectId('65c1cd70eae6c9576d2f935a'), acknowledged=True)

In [9]:
#to find the data
use = info.find()

In [10]:
for record in use:
    print(record)

{'_id': ObjectId('65c1cd70eae6c9576d2f935a'), 'name': 'tarun', 'dept': 'AI', 'degree': 'cse', 'age': 22}

In [11]:
records = [
    {
        'name': 'John',
        'dept': 'HR',
        'degree': 'MBA',
        'age': 30
    },
    {
        'name': 'Emma',
        'dept': 'Finance',
        'degree': 'B.Com',
        'age': 28
    },
    {
        'name': 'Michael',
        'dept': 'IT',
        'degree': 'B.Tech',
        'age': 32
    }
]
info.insert_many(records)

InsertManyResult([ObjectId('65c1cd70eae6c9576d2f935b'), ObjectId('65c1cd70eae6c9576d2f935c'), ObjectId('65c1cd70eae6c9576d2f935d')], acknowledged=True)

In [12]:
for i in info.find():
    print(i)

{'_id': ObjectId('65c1cd70eae6c9576d2f935a'), 'name': 'tarun', 'dept': 'AI', 'degree': 'cse', 'age': 22}
{'_id': ObjectId('65c1cd70eae6c9576d2f935b'), 'name': 'John', 'dept': 'HR', 'degree': 'MBA', 'age': 30}
{'_id': ObjectId('65c1cd70eae6c9576d2f935c'), 'name': 'Emma', 'dept': 'Finance', 'degree': 'B.Com', 'age': 28}
{'_id': ObjectId('65c1cd70eae6c9576d2f935d'), 'name': 'Michael', 'dept': 'IT', 'degree': 'B.Tech', 'age': 32}

In [13]:
#by default it will return the first record
info.find_one()

{'_id': ObjectId('65c1cd70eae6c9576d2f935a'),
 'name': 'tarun',
 'dept': 'AI',
 'degree': 'cse',
 'age': 22}

In [14]:
# Query documents using $in operator
query = {'age': {'$in': [25, 30]}}
result = info.find(query)
for record in result:
    print(record)

# Query documents using $lt and $gt operators
query = {'age': {'$lt': 30, '$gt': 25}}
result = info.find(query)
for record in result:
    print(record)

{'_id': ObjectId('65c1cd70eae6c9576d2f935b'), 'name': 'John', 'dept': 'HR', 'degree': 'MBA', 'age': 30}
{'_id': ObjectId('65c1cd70eae6c9576d2f935c'), 'name': 'Emma', 'dept': 'Finance', 'degree': 'B.Com', 'age': 28}

In [16]:
# Query documents using $and operator
query_and = {'$and': [{'age': {'$gt': 25}}, {'dept': 'AI'}]}
result_and = info.find(query_and)
for record in result_and:
    print(record)

# Query documents using $or operator
query_or = {'$or': [{'age': {'$lt': 30}}, {'dept': 'Finance'}]}
result_or = info.find(query_or)
for record in result_or:
    print(record)

{'_id': ObjectId('65c1cd70eae6c9576d2f935a'), 'name': 'tarun', 'dept': 'AI', 'degree': 'cse', 'age': 22}
{'_id': ObjectId('65c1cd70eae6c9576d2f935c'), 'name': 'Emma', 'dept': 'Finance', 'degree': 'B.Com', 'age': 28}

NEW COLLECTION INVENTORY

In [17]:
import pymongo
#connection to mongodb
client = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = client['emp']
inventory=mydb.inventory

In [18]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

InsertManyResult([ObjectId('65c1d071eae6c9576d2f935f'), ObjectId('65c1d071eae6c9576d2f9360'), ObjectId('65c1d071eae6c9576d2f9361'), ObjectId('65c1d071eae6c9576d2f9362'), ObjectId('65c1d071eae6c9576d2f9363'), ObjectId('65c1d071eae6c9576d2f9364'), ObjectId('65c1d071eae6c9576d2f9365'), ObjectId('65c1d071eae6c9576d2f9366'), ObjectId('65c1d071eae6c9576d2f9367'), ObjectId('65c1d071eae6c9576d2f9368')], acknowledged=True)

In [23]:
#update one
inventory.update_one(
    {'item': 'sketch pad'},
    {"$set":{"size.uom": "m", "status": "P"},
    "$currentDate": {"lastModified": True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [24]:
#replace record
inventory.replace_one(
    {'item': 'paper'},
    {'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

Aggregate

In [25]:
from pymongo import MongoClient

In [26]:
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80, "ts":2}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90, "ts":3}, 
    {"user":"Amit",  "title":"Database", "score":85, "ts":5}, 
    {"user":"Krish",  "title":"JavaScript", "score":75, "ts":8}, 
    {"user":"Amit",  "title":"Data Science", "score":60, "ts":10},
    {"user":"Krish",  "title":"Data Science", "score":95, "ts":3}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('65c1d70beae6c9576d2f9369'), ObjectId('65c1d70beae6c9576d2f936a'), ObjectId('65c1d70beae6c9576d2f936b'), ObjectId('65c1d70beae6c9576d2f936c'), ObjectId('65c1d70beae6c9576d2f936d'), ObjectId('65c1d70beae6c9576d2f936e')], acknowledged=True)

In [28]:
#total subjects
pipeline = [
   
    {'$group': {'_id': '$user', 'total_subjects': {'$sum': 1}}}
]

result = collection.aggregate(pipeline)

for record in result:
    print(record)

{'_id': 'Krish', 'total_subjects': 3}
{'_id': 'Amit', 'total_subjects': 3}