In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("test.db")

In [3]:
c = conn.cursor()

In [4]:
ct = "CREATE TABLE record1(ID INTEGER, Name TEXT, Fee REAL)"
conn.execute(ct)

In [5]:
ct = "insert into record1(ID, Name,Fee) values(1,'Pawan',300000)"
conn.execute(ct)
conn.commit()

In [6]:
result = conn.execute(ct)
print(result)

<sqlite3.Cursor object at 0x00000171AFA6B640>

In [7]:
for row in result:
    print(row)

In [8]:
all_stu = [(2,'Punam',300000.66),
           (3,'Tarun',100.66)
]
conn.commit()
result = conn.executemany("insert into record1 values(?,?,?)",all_stu)

In [9]:
ct = "select * from record1"
r = conn.execute(ct)

for row in result:
    ID,Name,Fee = row
    print(len(row))

In [10]:
command = "select * from record1 where fee = 10000.66"
conn.execute(command)

result = conn.execute(command)
r = result.fetchall()
for row in result:
    ID,Name,Fee = row
    print(ID,Name,Fee)

In [15]:
command = "update record1 set fee = 500.66 where ID = 3"
result = conn.execute(command)
conn.commit()

print("Total change",conn.total_changes)
command  = "select * from record1"
result = conn.execute(command)
for row in result:
    ID,Name,Fee = row
    print(ID,Name,Fee)

Total change 7
1 Pawan 300000.0
1 Pawan 300000.0

In [13]:
command = "delete from record1 where ID = 2"
result = conn.execute(command)
conn.commit()

command  = "select * from record1"
result = conn.execute(command)
for row in result:
    ID,Name,Fee = row
    print(ID,Name,Fee)

1 Pawan 300000.0
1 Pawan 300000.0

In [25]:
ct="create table record2(ID INTEGER, Name TEXT, Fee REAL)"
conn.execute(ct)

In [26]:
ct="insert into record2(ID,Name,Fee)Values(1,'Aryan',1000.66)"
conn.execute(ct)
conn.commit()

In [27]:
ct='select * from record2'
conn.execute(ct)
for i in conn.execute(ct):
    print(i)

(1, 'Aryan', 1000.66)

In [28]:
cmd="drop table record2"
conn.execute(cmd)
conn.commit()

In [32]:
import os