In [1]:
import sqlite3

In [2]:
#databse creation
conn=sqlite3.connect('training.db')

In [3]:
#cursor object creation
c=conn.cursor()

In [12]:
# Execute SQL query to create the table
c.execute('''CREATE TABLE if not exists student (
            id INTEGER PRIMARY KEY,
            f_name TEXT,
            l_name TEXT,
            roll_no INTEGER,
            branch TEXT
    )'''
)

In [5]:
c.execute("Insert into student values(1,'Rahul','Kumar',101,'CSE')")

In [6]:
val = [
    (2, 'John', 'Doe', 102, 'ECE'),
    (3, 'Jane', 'Smith', 103, 'ME'),
    (4, 'Mike', 'Johnson', 104, 'EE')
]

In [7]:
# Insert multiple records using the executemany() method
c.executemany("Insert into student values(?,?,?,?,?)", val)

In [8]:
c.execute("Select * from student")

In [9]:
print(c.fetchall())

[(1, 'Rahul', 'Kumar', 101, 'CSE'), (2, 'John', 'Doe', 102, 'ECE'), (3, 'Jane', 'Smith', 103, 'ME'), (4, 'Mike', 'Johnson', 104, 'EE')]

In [10]:
for record in c.fetchall():
    print(record)

In [13]:
conn.commit()

In [14]:
conn.close()